<section id="intro" class="wide">
    <div class="row">
        <div class="col col-2">
            <div id="about" class="block">
                <h2>How it works?</h2>
                <p>With jCatch.io you can track javascript errors from all devices and browsers, where you don't have access to check if your application works properly.</p>
                <div class="block">
                    <ol class="explanatory">
                        <li><span>Create account, add your project and generate API KEY.</span></li>
                        <li><span>Add client script on top of &lt;HEAD&gt; tag for all pages which you want to track.<br/>
                        <strong>&lt;script src="//jcatch.io/client/log.js?u=API_KEY"&gt;&lt;/script&gt;</strong></span></li>
                        <li><span>Track, filter and manage errors with jCatch.io dashboard.</span></li>
                    </ol>
                    <div class="block center">
                        <a href="/documenation" class="btn large blue">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-2">
          <div id="try" class="block">
              <h2>Quick start:</h2>
              <p>Add your project to get access to analytics tools, notifiers and conditional callbacks.</p>
              <div class="form wrap">

                  <form id="try-now" data-form="try" data-next="" class="clasic">
                    <div class="response-msg"></div>
                    <div class="form-body">
                        <div class="form-row">
                            <label for="domain"><span>Domain</span>:</label>
                            <input id="domain" class="large" type="text" name="domain" placeholder="jcatch.io" required/>
                        </div>
                        <div class="form-row">
                            <label for="email"><span>Email</span>:</label>
                            <input id="email" class="large" type="email" name="email" required/>
                        </div>
                        <div class="form-row">
                            <label for="pass" ><span>Password</span>:</label>
                            <input id="pass" class="large" type="password" name="pass"/>
                        </div>
                        <div class="form-row tc">
                            <input id="tc" type="checkbox" name="tc" required/>&nbsp;&nbsp;
                            <label for="tc" ><span>I agree for</label>&nbsp;</span><a href="/terms" target="_blank">terms and conditions</a>
                        </div>
                        <div class="form-row right last">
                            <div class="submit wrap">
                              <input class="large btn red submit" type="submit" name="try" value="Add project"/>
                            </div>
                        </div>
                      </div>
                  </form>

              </div>
          </div>
        </div>
    </div>
</section>
<section class="wide">
    <div id="support">
        <h3>Support for:</h3>
        <img src="/img/js-frameworks.jpg"/>
    </div>
</section>
